################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/G1TintaEspacial/G1TintaEspacial.BD/obj/G1TintaEspacial.BD.csproj.nuget.dgspec.json
